header {
  background-color:red;
  margin:20px;
  padding:20px;
  text-align:left;
  font-size:150%;}
body {
  background-color:white;
  text-align:center;}
footer {
  background-color:red;
  margin:10px;
  padding:10px;}
