header {
  background-color:#C62828;
  margin:0;
  padding:20px;
  text-align:left;
  font-size:150%;
    color:white;
    width:100%;}
body {
  background-color:white;
    margin:0;
  text-align:center;}
footer {
  background-color:red;
  margin:10px;
  padding:10px;}
.grid {
  display:grid;
  grid-row: 1;
  gap:10px;}
.texttitle {
    text-align:center;
    background-color:red;
}
