header {
  background-color:#C62828;
  margin:0;
  padding:20px;
    display:flex;
    justify-content: space-between;
  font-size:150%;
    color:white;}
body {
  background-color:white;
    margin:0;}
body.dark {
    background-color:#202020;
    color:white;
}
body.dark header {
    background-color:darkred;
}
body.dark .texttitle {
    background-color:#383838;
    color:white;
}
footer {
  background-color:#C62828;
  margin:0;
  padding:10px;}
.grid {
  display:grid;
  grid-row: 1;
  gap:10px;}
.texttitle {
    text-align:center;
    background-color:grey;
    margin:0;
    padding:10px;}
.bilde {
    margin:0 auto;
    width:200px;}
.button {
    background-color:#C62828;
    border:black solid;
}
body.dark .button {
    background-color:darkred;
}
.underskrift {
    text-align:center;
    font-size:150%;
    margin-bottom:5%;
}
.link {
    color: black;
    text-decoration: inherit;
}
.logo {
    color:white;
    text-decoration:inherit;
}
.link2 {
    color:blue;
}
.tekst {
    text-align:center;
    font-size:150%;
    margin-left:20%;
    margin-right:20%;
    margin-top:5%;
}
.tekst2 {
    text-align:center;
    font-size:150%;
    margin-left:20%;
    margin-right:20%;
    margin-top:5%;
}
.bilde2 {
    margin-left:40%;
    margin-right:40%;
    width:300px;
    margin-top:5%;
}